@use "./variables";
// Centered Component Mixin

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-center {
    display: grid;
    place-items: center;
}

// Transition Mixin

@mixin all-transition {
    transition: all .3s ease-in;
}

// Animation Mixin

@mixin gradient-text {
    background: linear-gradient(90deg, variables.$primary-color, variables.$accent-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: gradient-move .3s ease-in infinite;
}

@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 50% 100%;
    }
}

@mixin typing-text {
    animation: typing 1.2s infinite;
}

@keyframes typing {
    0% {
        content: ".";
    }
    50% {
        content: "..";
    }
    100% {
        content: "...";
    }
}