// Color Palette
$primary-color: hsl(25, 76%, 31%);
$secondary-color: hsl(19, 56%, 40%);
$accent-color: hsl(25, 75%, 47%);
$text-color: hsl(9, 28%, 19%);
$bg-color: hsl(60, 56%, 91%);

// Font Variables
$font-weights: (
    "regular": 400,
    "normal": 500,
    "bold": 700
);
$font-family: "Marope",sans-serif;