@use "./variables" as variables;
@use "./mixins" as mixins;
@import "./reset";

body {
  font-family: variables.$font-family;
  width: 100vw;
}

header {
  @include mixins.flex-center;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 5rem;
  box-shadow: 0px 1px 3px 0px hsla(0, 0%, 0%, 0.1);
  background-color: variables.$bg-color;

  @media (min-width: 26.76rem) {
    height: 7rem;
  }

  .brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 226px;

    &-image-container {
      height: 100%;
      width: 60px;
      overflow: hidden;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-name {
      font-weight: map-get(variables.$font-weights, regular);
      color: variables.$text-color;
    }
  }
}

main {
  width: 100%;
  bottom: 3rem;
  margin: auto;
  padding: auto;

  .hero {
    @include mixins.flex-center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.25rem;

    .intro {
      margin: 2rem;
      width: 90%;
      padding: 0;

      &-heading {
        font-weight: map-get(variables.$font-weights, bold);
        @include mixins.gradient-text;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
      }

      &-description {
        font-size: 1.1rem;
        text-align: center;
        color: variables.$text-color;
        font-weight: map-get(variables.$font-weights, bold);
      }

      @media (min-width: 26.76rem) {
        padding: 2rem;
        width: 80%;
      }
    }

    .form {
      @include mixins.flex-center;
      width: 90%;
      gap: 8px;
      height: 38px;

      @media (min-width: 26.76rem) {
        width: 80%;
      }

      &-input {
        flex-grow: 1;
        min-width: 10rem;
        max-width: 16rem;
        height: 100%;
        padding: 1rem;
        border: 2px solid variables.$secondary-color;
        outline: none;
        border-radius: .5rem;
      }

      &-button {
        width: 8rem;
        height: 100%;
        border: none;
        border-radius: .5rem;
        color: variables.$bg-color;
        background: variables.$primary-color;
        cursor: pointer;
        @include mixins.all-transition;

        &:hover {
          background: variables.$secondary-color;
        }

        &:active {
          background-color: variables.$accent-color;
        }

        &:disabled {
          cursor: not-allowed;
          background-color: variables.$accent-color;

        }
      }
    }
  }

  .recipe {
    padding: 1rem;
    width: 100%;
    @include mixins.grid-center;

    @media (min-width: 26.76rem) {
      padding: 2rem;
    }

    &-container {
      @include mixins.flex-center;
      // flex-shrink: 0;
      // overflow: auto;
      flex-direction: column;
      width: 90%;
      background-color: darken(variables.$bg-color, 10%);
      padding: 1rem;
      border: 2px double variables.$secondary-color;
      border-radius: .5rem;

      @media (min-width: 26.76rem) {
        width: 75%;
        padding: 1.25rem;
      }

      h1 {
        color: variables.$secondary-color;
        font-weight: map-get(variables.$font-weights, bold);
        font-size: 2rem;
        text-decoration: underline;
        text-align: center;
        margin-bottom: .5rem;
      }

      h2 {
        color: variables.$accent-color;
        margin: .5rem 0;
        font-size: 1.7rem;
        text-align: center;
      }

      h3 {
        color: variables.$accent-color;
        margin: .2rem 0;
        text-align: center;
      }

      ul,
      ol {
        color: variables.$text-color;
        font-weight: map-get(variables.$font-weights, bold);
        margin: .5rem 0;
        list-style-type: none;
        @include mixins.flex-center;
        flex-direction: column;
        align-items: flex-start;

        li {
          line-height: 1.85rem;

          strong {
            display: block;
            font-size: 1rem;
            font-family: variables.$font-family;
          }
        }
      }

      p {
        margin: 1rem auto;
        text-align: center;
        color: variables.$text-color;
        font-weight: map-get(variables.$font-weights, bold);

        strong {
          font-size: 1.5rem;
          font-family: variables.$font-family;
        }

        .loading {
          font-weight: map-get(variables.$font-weights, bold);

          &::after {
            content: "";
            @include mixins.typing-text;
          }
        }
      }
    }
  }
}

footer {
  @include mixins.flex-center;
  flex-direction: column;
  width: 100%;
  height: 5rem;
  background-color: variables.$bg-color;

  .rule {
    border: 1px solid variables.$primary-color;
    width: 80%;
    margin-bottom: 1rem;
  }

  .footer-message {
    width: 80%;
    text-align: center;
    color: variables.$text-color;
    font-weight: map-get(variables.$font-weights, bold);
  }
}